.statistics {
  width: 100%;
  padding: 40px;
}

.wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 40px;
}

.head {
  h2 {
    margin: 0;
    font: 32px 'DM Serif Text', serif;
    color: #5076B8;
    text-align: center;
  }
  h3 {
    margin: 0;
    font: italic 24px 'DM Serif Text', serif;
    color: #A09678;
    text-align: center;
  }
}

.body {
  img {
    width: 720px;
  }
}

@media (max-width: 960px) {
  .body {
    img {
      width: calc(100vw - 80px);
    }
  }
}
